{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product detail page</title>
  <link href="{% static 'css/details.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body style="
      background-image: url('{% static 'img/Desktop06.png' %}');
      width: 100%;
      background-size: cover;
      background-position: center;">

  <!-- 
    - #HEADER
  -->

  {% comment %} <header class="header">
    <div class="container">

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <a href="#" class="logo">
        <img src="" width="77" height="20" alt="Nike home">
      </a>

      <nav class="navbar" data-navbar>

        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

        <ul class="navbar-list">

          <li>
            <a href="#" class="navbar-link">Collection</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Men</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Women</a>
          </li>

          <li>
            <a href="#" class="navbar-link">About</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Contact</a>
          </li>

        </ul>

      </nav>

      <div class="header-action">

        <button class="header-action-btn" aria-label="add to cart">
          <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
        </button>

        <button class="profile-btn" aria-label="profile">
          <img src="" width="100" height="100" alt="profile" class="img">
        </button>

      </div>

      <div class="overlay" data-overlay data-nav-toggler></div>

    </div>
  </header> {% endcomment %}

<main>
    <article>

      <section class="section product" aria-label="product">
        <div class="container">

          <div class="product-slides">

            <div class="slider-banner" data-slider>
              <figure class="product-banner">
                <img src="{{book.book_img.url}}" width="600" height="600" loading="lazy" alt="Nike Sneaker"
                  class="img-cover">
              </figure>

            </div>

          </div>

          <div class="product-content">

            <p class="product-subtitle">{{ book.category_id.category_name }}</p>

            <h1 class="h1 product-title">{{ book.bookname }}</h1>

            <p class="product-text">
              {{ book.bookdes }}
            </p>

            <div class="wrapper">

              <span class="price" data-total-price>₹{{ book.bookprice }}/-</span>

              <span class="badge"></span>

              <del class="del"></del>

            </div>

            <form method="POST" action="review/{{book.book_id}}">
              {% csrf_token %}
            <div class="btn-group">
              <button class="cart-btn">
                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>

                <span class="span">Add to cart</span>
              </button>
           
            </form>
            <form method="POST" action="{% url 'review' book_id=book.book_id %}">
              {% csrf_token %}
              <input type="hidden" name="book_id" value="{{ book.book_id }}">
              <button type="submit" class="cart-btn">
                  <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                  <span class="span">Buy Now</span>
              </button>
          </form>

            </div>
        </div>

        </div>
      </section>
    </article>
    
  </main>




  <section class="reviews-section">
    <h1>Reviews</h1>
    {% for review in reviews %}
        <div class="review-box">
            <p><strong>{{ book.userid.username }}</strong> :{{ review.review_des }}</p>
        </div>
    {% endfor %}
</section>

  <!-- 
    - custom js link
  -->

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>